{% extends 'back.html.twig' %}

{% block title %}Modifier la Categorie{% endblock %}

{% block body %}
    <div class="col-12 p-3">
        <h1 class="h3">Catégorie : {{ category.name }}</h1>
    </div>
     <div class="col-12">
        <a href="{{ path('app_back_category_index') }}" class="btn btn-warning mb-2">Retour</a>
        <div class="card card-body">

            {{ include('back/category/_form.html.twig', {'button_label': 'Modifier'}) }}

        </div>
    </div>
    {{ include('back/category/_delete_form.html.twig') }}
{% endblock %}
