{% extends 'back.html.twig' %}

{% block title %}New Author{% endblock %}

{% block body %}
<div class="col-12 p-3">
    <h1 class="h3">Créer un auteur</h1>
</div>
<div class="col-12">
    <a href="{{ path('app_back_authors_index') }}" class="btn btn-warning mb-2">Retour</a>
    <div class="card card-body">
    {{ include('back/author/_form.html.twig') }}
    </div>
{% endblock %}
