{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ category.name }}{% endblock %}

{% block body %}
    <h1>Catégorie : {{ category.name }}</h1>

    <a href="{{ path('post_home') }}">Retour à la home</a>
{% endblock %}
